<div class="container messages-index">
  <h2>Listing incoming messages</h2>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>From</th>
        <th>Content</th>
        <th>Last read</th>
      </tr>
      </thead>
      <tbody>
      <% @messages.each do |message| %>
          <% unless @current_user.is_friend_blocked(message.sender.id) %>
              <tr>
                <% unless message.is_read %>
                    <td class="table-danger"><%= image_tag message.sender.image_url, width: '50px', height: '50px' %></td>
                    <td class="table-danger"><%= message.sender.name %></td>
                    <td class="table-danger">
                    <a href="<%= message_path(message) %>" class="table-danger">
                      <%= message.content.at(0..10) %>
                    </a>
                    </td>
                    <td class="table-danger"><%= image_tag 'question', width: '50px', height: '50px' %></td>
                <% else %>
                    <td><%= image_tag message.sender.image_url, width: '50px', height: '50px' %></td>
                    <td><%= message.sender.name %></td>
                    <td><%= message.content.at(0..10) %>...</td>
                    <td><%= message.updated_at.strftime("%A, %d %B %Y, %H:%M") %></td>
                <% end %>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>