<div class="container messages-index">
  <h2>Listing sent messages</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Sent to</th>
        <th>Content</th>
        <th>Last read</th>
      </tr>
      </thead>
      <tbody>

      <% @sent_messages.each do |message| %>
          <tr>
            <td><%= image_tag message.recipient.image_url, width: '50px', height: '50px' %></td>
            <td><%= message.recipient.name %></td>
            <td><%= message.content.at(0..10) %>...</td>
            <% unless message.is_read %>
                <td><%= image_tag 'question', width: '50px', height: '50px' %></td>
            <% else %>
                <td><%= message.updated_at.strftime("%A, %d %B %Y, %H:%M") %></td>
            <% end %>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>