  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8" >
      <div class="card" >
        <div class="card-header" align="middle">
          <%= image_tag 'smile', width: '50px', height: '50px', alt: 'User_photo'%>
          <h2><%= @message.sender.name %></h2>
        </div>
        <div class="card-block">
          <%= @message.content %>
          </div>
          <small><i>Message read at: <%= @message.updated_at.strftime("%A, %d %B %Y, %H:%M") %></i></small>
        </div>

        <div class="card-footer" align="middle">
          <%= link_to 'Back to messages', messages_path, class: 'btn btn-primary' %>
        </div>

      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>




