<p id="notice"><%= notice %></p>

<h1>This is the page to manage the list of friends</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Block status</th>
    <th>Image</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @friends_of_current_user.each do |friend| %>
      <tr>
        <td><%= friend.name %></td>
        <td><%= friend.email %></td>
        <td><%= @current_user.is_friend_blocked(friend.id) %></td>
        <td><img src="<%= friend.image_url %>" alt="Image of user"/></td>
      </tr>
  <% end %>
  </tbody>
</table>

